# Normalize all text to LF in the repo, regardless of OS checkout.
* text=auto eol=lf

*.go   text eol=lf
*.mod  text eol=lf
*.sum  text eol=lf
*.md   text eol=lf
*.sql  text eol=lf

# Never touch binaries.
*.exe binary
